<footer class="bg-f">
<div class="container-fluid">

    <div class="row">

        <div class="col-md-3 p-3">
            
            <img src="https://i.imgur.com/4LRmSKg.png" alt="">

        </div>

        <div class="col-md-5 p-5 d-flex justify-content-between">

            <ul>
                <li class="r-t">Sobre Nós</li>
                <li class="r-c"><a routerLink="/sobrenos">Informações da rede</a></li>
            </ul>

            <ul>
                <li class="r-t">Suporte</li>
                <li class="r-c"><a routerLink="/contato">Reclamações/Sugestões</a></li>
            </ul>

        </div>

        <div class="col-md-4 text-center">

            <div class="container-fluid d-flex align-items-end justify-content-center flex-column" style="height: 100%;">
                <div>
               
            <div>  
                <i class="fab fa-linkedin icons" style="color: #0e76a8;"></i>
                <i class="fab fa-github-square icons" style="color: #211F1F;"></i>
                 </div>

                 <a href="#" class="btn mt-2 btn-bg">Contato</a>

                </div>
            </div>      

            </div>

          

        </div>

    </div>

    <div class="row bg-r-end p-0 m-0">
        <div class="text-center p-1 text-light">
            &copy; Todos os direitos reservados
        </div>
    </div>


</footer>