<div class="bg-fundo">
    <div class="container">

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 py-2 mt-5 mb-5">
                    <h1 class="text-center ft-title1">Entre em Contato</h1>
                </div>
            </div>
        </div>
        <!-- card1 -->
        <div class="container">
            <div class="row d-flex justify-content-start">

                <div class="col-md-7 bg-perfil card mb-4">
                    <div class="d-flex justify-content-start flex-wrap">

                        <div class="flex-wrap">
                            <img class="rounded-circle wh-300 ms-3 my-2 img-fluid"
                                src="https://cdn.discordapp.com/attachments/844560176374612029/864852714990338048/gon.jpg"
                                alt="foto de perfil">
                        </div>

                        <div class="col-md-7 flex-column flex-wrap align-items-center">

                            <ul class="list">
                                <li class="text-center mt-4">
                                    <h4>Gonzales Walisson</h4>
                                    <p>Desenvolvedor Full Stack Java Junior</p>
                                    <p>walisson.gonzales@gmail.com</p>
                                    <p>+55 17 98836-0281</p>
                                </li>
                            </ul>

                            <ul class="list text-center">
                                <li class="">
                                    <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank"
                                        class="icoLinkedin"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                            class="fab fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /card1 -->

        <!-- card2 -->
        <div class="container">
            <div class="row d-flex justify-content-end">

                <div class="col-md-7 bg-perfil card mb-4">
                    <div class="d-flex flex-wrap">

                        <div class="flex-wrap">
                            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                                src="https://media-exp1.licdn.com/dms/image/C4E03AQGp62WhT3CR3w/profile-displayphoto-shrink_200_200/0/1621429726150?e=1631750400&v=beta&t=qUHdPO_GMfJQEsh_9EE2sdFqrV7jSDtKvGewYnV8rew"
                                alt="foto de perfil">
                        </div>

                        <div class="col-md-7 flex-column flex-wrap align-items-center">

                            <ul class="list">
                                <li class="text-center mt-4">
                                    <h4>Victor de Souza</h4>
                                    <p>Desenvolvedor Full Stack Java Junior</p>
                                    <p>victor.souza0820@gmail.com</p>
                                    <p>+55 11 94821-8887</p>
                                </li>
                            </ul>

                            <ul class="list text-center">
                                <li class="">
                                    <a href="https://www.linkedin.com/in/victor-de-souza-33359a212/" target="_blank"
                                        class="icoLinkedin"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/VictorTheSouza" target="_blank" class="icoGitHub"><i
                                            class="fab fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /card2 -->

        <!-- card1 -->
        <div class="container">
            <div class="row d-flex justify-content-start">

                <div class="col-md-7 bg-perfil card mb-4">
                    <div class="d-flex justify-content-start flex-wrap">

                        <div class="flex-wrap">
                            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                                src="https://media-exp1.licdn.com/dms/image/C4E03AQFcylFSgJlVRQ/profile-displayphoto-shrink_200_200/0/1621441450058?e=1631750400&v=beta&t=UpPS8j7514FMkaULVAD8QJawBCAdo8aax9mDxzw-API"
                                alt="foto de perfil">
                        </div>

                        <div class="col-md-7 flex-column flex-wrap align-items-center">

                            <ul class="list">
                                <li class="text-center mt-4">
                                    <h4>Guilherme Jorge</h4>
                                    <p>Desenvolvedor Full Stack Java Junior</p>
                                    <p>guilhermejorgee@gmail.com</p>
                                    <p>+55 11 94888-9098</p>
                                </li>
                            </ul>

                            <ul class="list text-center">
                                <li class="">
                                    <a href="https://www.linkedin.com/in/guilhermejorgee/" target="_blank"
                                        class="icoLinkedin"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/guilhermejorgee" target="_blank" class="icoGitHub"><i
                                            class="fab fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /card1 -->

        <!-- card2 -->
        <div class="container">
            <div class="row d-flex justify-content-end">

                <div class="col-md-7 bg-perfil card mb-4">
                    <div class="d-flex flex-wrap">

                        <div class="flex-wrap">
                            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                                src="https://media-exp1.licdn.com/dms/image/C4D03AQGNonhGtP4d8A/profile-displayphoto-shrink_200_200/0/1625254247298?e=1631750400&v=beta&t=GLddA-Oj80PnC8mRORsac3D2pq126iF_zU5h7NDl3BM"
                                alt="foto de perfil">
                        </div>

                        <div class="col-md-7 flex-column flex-wrap align-items-center">

                            <ul class="list">
                                <li class="text-center mt-4">
                                    <h4>Elton Santos</h4>
                                    <p>Desenvolvedor Full Stack Java Junior</p>
                                    <p>elton.santos07@outlook.com</p>
                                    <p>+55 11 94997-5951</p>
                                </li>
                            </ul>

                            <ul class="list text-center">
                                <li class="">
                                    <a href="https://www.linkedin.com/in/elton-santos-07/" target="_blank"
                                        class="icoLinkedin"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/eltonsantos07" target="_blank" class="icoGitHub"><i
                                            class="fab fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /card2 -->


    </div>
</div>