.bg-roxo6{
    background-color: #e5dff0;
}

.bg-roxo4{
    background-color:#ede7f8;
}

.border-roxoclaro{
    border: 1px solid #d7d1e2;
}

a{
    color: black;
    text-decoration: none;
    
}

.border-b-p{
    border-bottom: 1px solid #d7d1e2;
}