@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

#tela {
    background-color: #E3DCF2;
}

#container-central {
    height: 100vh;
}

.texto {

    font-family: 'Eczar', serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: #845ABF;
    /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.bg-in {
    /* background-color: rgba(170, 167, 242, 0.8);*/
    background-color: #e3dcf2;
    border: 1px solid #9794F2;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 10pt;
}
.bg-in > input{
    height: 46px;
}

.bg-in::placeholder {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-size: 10pt;

}

.bg-in:focus {
    background-color: #e3dcf2;
    box-shadow: 0px 0px 3px #9794F2;
    outline: 0;
    border: 1px solid #9794F2;
}

.bg-in-valid:focus {
    background-color: #e3dcf2;
    box-shadow: 0px 0px 3px #9794F2;
    border: 1px solid #37b605;
}

.bg-in-invalid:focus {
    background-color: #4b01eb;
    box-shadow: 0px 0px 3px #9794F2;
    border: 1px solid #bd0a6c;
}

.bg-btn {
    background: #693C96;
    border: 1px solid #693C96;
    color: #E3DCF2;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bolder;
    font-size: 10pt;
}

.bg-btn-ca:hover {
    color: #7875ca;
}

.bg-btn:hover {
    background: #562b81;
    border: 1px solid #562b81;
    color: #E3DCF2;
}

a {
    text-decoration: none;
}

#bg-l {
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.font-t {
    font-family: 'Eczar', sans-serif;
    font-weight: bolder;
    color: #9794F2;

}

.font-p {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #9794f2;
    font-size: 10pt;
}

.enable-mobile{
    display: none;
}

.bg-l {
    box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
    border-radius: 5px;
    
}

.v-p-l{
    font-size: 10pt;
    color: #845ABF;
}

.v-p-l:hover{
    color: #644196;
}

#admin{
    display: none;
}

#adminClick:hover{
    cursor: pointer;
}

#empresaAtual{
    display: none;
}

@media screen and (max-width: 800px) {
    .disable-mobile {
        display: none;
    }

    .enable-mobile {
        display: inline-block;
    }
}