<div class="container-fluid bg-roxo2 pt-3">
    <div class="row">
        <div class="col-md-12 bg-roxo2">
        <div class="container pb-3">
            <h1 class="text-center ft-title1">Objetivo</h1>
            <div class="row bg-roxo2  p-3">
                <div class="col-md-12 text-center mb-5 p-2">
                <h5 class="">O projeto INGRESS/A surgiu com a proposta de trazer mais oportunidades para as mulheres na área de
                    tecnologia, tendo em vista a desigualdade de gênero presente no mercado de trabalho. O projeto aborda a
                    desigualdade de gênero, em específico na falta de inclusão da mulher no mercado de trabalho, busca criar
                    uma plataforma aberta para receber profissionais mulheres e conectá-las a possíveis empregadores.</h5>
                </div>
            </div>
    
        </div>
    </div>
</div>



<div class="container-fluid bg-roxo2 ">
    <div class="row resp me-1 p-0">
        <div class="col-md-4 bg-in me-2 mb-3 ms-0">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle mt-3"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQGNonhGtP4d8A/profile-displayphoto-shrink_200_200/0/1625254247298?e=1631750400&v=beta&t=GLddA-Oj80PnC8mRORsac3D2pq126iF_zU5h7NDl3BM"
                    alt="">
                    <h5>Elton Santos</h5>
                <p> Sou estudante de Ciência e Tecnologia, adoro aprender coisas novas e encaro desafios como uma
                    oportunidade para me desenvolver. Sempre estudei em escola pública e em 2016 eu ingressei na ETEC
                    Lauro Gomes que foi onde eu cursei o ensino médio integrado ao técnico em mecatrônica e tive meu
                    primeiro contato com linguagem de programação. </p>
                <div>
                    <a class="iconLinkedin" href="https://www.linkedin.com/in/elton-santos-07/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href="https://github.com/eltonsantos07"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>

        <div class="col-md-4 bg-in me-2 mb-3 ">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle mt-3"
                    src="https://media-exp1.licdn.com/dms/image/C4E03AQFcylFSgJlVRQ/profile-displayphoto-shrink_200_200/0/1621441450058?e=1631750400&v=beta&t=UpPS8j7514FMkaULVAD8QJawBCAdo8aax9mDxzw-API"
                    alt="">
                    <h5>Guilherme Jorge</h5>
                <p> Meu nome é Guilherme, tenho 23 anos. Sou formado em logística pela Fatec Zona Leste e atualmente
                    estou cursando Análise e Desenvolvimento de Sistema. Apesar de já ser formado em outra área, meu
                    contato com desenvolvimento de software não é recente, o primeiro “Olá mundo”, foi com 10 anos.</p>
                <div>
                    <a class="iconLinkedin" href="https://www.linkedin.com/in/guilhermejorgee/"><i class="fa fa-linkedin-square" aria-hidden="true"> </i></a>
                    <a class="iconGithub" href="https://github.com/guilhermejorgee"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>

        <div class="col-md-4 bg-in me-3 mb-3 ">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle mt-3"
                    src="https://media-exp1.licdn.com/dms/image/C4E03AQFqiwZ4kJs3eA/profile-displayphoto-shrink_200_200/0/1621441127754?e=1631750400&v=beta&t=-NYlbNv2fV2hcLqcaa8Ss6XgG6BJDwxZm1mxGUT2Yww"
                    alt="">
                    <h5>Ricardo de Oliveira</h5>
                <p> Sou estudante na área de ciências da computação com o foco em me especializar como desenvolvedor
                    Front-end no framework angular. Gosto de customizar layouts de sites e estou buscando novas
                    oportunidades para me desenvolver nessa área.</p>
                <div>
                    <a class="iconLinkedin" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
    </div>
    <div class="row d-flex justify-content-center d-flex">
        <div class="col-md-4 bg-in me-2 mb-3 ">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle mt-3"
                    src="https://media-exp1.licdn.com/dms/image/C4E03AQGp62WhT3CR3w/profile-displayphoto-shrink_200_200/0/1621429726150?e=1631750400&v=beta&t=qUHdPO_GMfJQEsh_9EE2sdFqrV7jSDtKvGewYnV8rew"
                    alt="">
                    <h5>Victor de Souza</h5>
                <p> Como apreciador da tecnologia, sempre busquei entender e ficar por dentro das novas tecnologias. A
                    paixão pelos games foi o que acendeu minha vontade de aprender programação e hoje busco conhecimento
                    e experiência na área, me especializando inicialmente em Java.</p>
                <div>
                    <a class="iconLinkedin" href=" https://www.linkedin.com/in/victor-de-souza-33359a212/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href="https://github.com/VictorTheSouza"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
        <div class="col-md-4 bg-in me-2 mb-3 ">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle mt-3"
                    src="https://cdn.discordapp.com/attachments/844560176374612029/864852714990338048/gon.jpg" alt="">
                    <h5>Walisson Gonzales</h5>
                <p> Com o olhar sempre para a tecnologia, em 2017, comecei meus estudos como técnico em redes de
                    computadores onde só cresceu minha paixão pela área de TI. Hoje, continuo meus estudos com
                    desenvolvimento Full Stack com cursos onlines. Boa funcionalidade do trabalho em equipe,
                    criatividade, proatividade e vontade de aprender, são as
                    minhas mais fortes qualidades. Desafios sempre me motivam.
                </p>
                <div>
                    <a class="iconLinkedin" href="https://www.linkedin.com/in/walisson-gonzales/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href="https://github.com/walisson-gonz"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>


    </div>
</div>
</div>